<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798604184966-denmjpjtosbl0jv4c5n2t72ojq13v45p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798604184966-denmjpjtosbl0jv4c5n2t72ojq13v45p</string>
	<key>API_KEY</key>
	<string>AIzaSyCEN9kG1Gx4h0IlD463vnud_PoAhip8n8o</string>
	<key>GCM_SENDER_ID</key>
	<string>798604184966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iBenko.InMemories</string>
	<key>PROJECT_ID</key>
	<string>inmemories-d02b2</string>
	<key>STORAGE_BUCKET</key>
	<string>inmemories-d02b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798604184966:ios:483e3dcf94c5c3155f7007</string>
</dict>
</plist>