/InMemories/InMemories.xcodeproj/xcuserdata/vnbenko.xcuserdatad/xcschemes/xcschememanagement.plist
/InMemories/InMemories.xcodeproj/project.xcworkspace/xcuserdata/vnbenko.xcuserdatad/UserInterfaceState.xcuserstate
/InMemories/InMemories.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
